<!DOCTYPE html>
<html lang="en">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script>
  let job = '';
  var seconds = 0;
</script>

<head>
  <meta charset="UTF-8">
  <title>To Do List</title>
  // 1. write Typescript code in "app.component.ts" to work with ToDo list
</head>
<body>
  <h1>
    To Do List
  </h1>
  <script>
    function submitNewItem(task) {
      job = task;
    }
  </script>
  <form class="newTask">
    <label for="inputTask"></label>
    <input name="task" type="name" id="inputTask" placeholder="Task" required autofocus>
    <!--  [(ngModel)] = "task" This part was making the display disappear-->
    <button (click)="submitNewItem(task);" type="button">Add</button>
  </form>

  <h5>
    <input type="checkbox" value="done"> Task 1
    <script>
      console.log(job);
    </script>
  </h5>
  <h5>
    <input type="checkbox" value="done"> Task 2
  </h5>
<br>
<br>
  <script>
    function startCountdown(seconds) {  //Function from www.freecodecamp.org/
      let counter = seconds;

      const interval = setInterval(() => {
        console.log(counter);
        counter--;

        if (counter < 0 ) {
          clearInterval(interval);
          console.log('Ding!');
        }
      }, 1000);
    }
  </script>
<h6>
  countdown
  <form class="newTime">
    <label for="inputTime"></label>
    <input name="seconds" type="time" id="inputTime" placeholder="Time" required autofocus>
    <!--  [(ngModel)] = "task" -->
    <button (click)="startCountdown(seconds);" type="button">Add</button>
  </form>
</h6>

</body>
</html>
